.container {
  display: grid;
  grid-template-areas: "title title" "input output" "gennemsnit gennemsnit";
  grid-gap: 20px; }

.title {
  grid-area: title;
  text-align: center; }

.form {
  grid-area: input;
  padding: 25px 25px;
  background-color: #ddd; }
  .form .stjerne {
    color: #DC3545; }

#fejl {
  text-align: center;
  color: #DC3545; }

#region {
  margin-bottom: 15px; }

.formResultat {
  grid-area: output;
  padding: 25px 25px;
  background-color: #ddd;
  text-align: center; }

.gennemsnit {
  grid-area: gennemsnit;
  background-color: #ddd; }

@media only screen and (max-width: 600px) {
  .container {
    display: block;
    text-align: center; } }
